<div class='pswp' tabindex='-1' role='dialog' aria-hidden='true' data-role='none'>
		<div class='pswp__bg' data-role='none'></div>
		<div class='pswp__scroll-wrap' data-role='none'>
				<div class='pswp__container' data-role='none'>
						<div class='pswp__item' data-role='none'></div>
						<div class='pswp__item' data-role='none'></div>
						<div class='pswp__item' data-role='none'></div>
				</div>
				<div class='pswp__ui pswp__ui--hidden' data-role='none'>
						<div class='pswp__top-bar' data-role='none'>
								<div class='pswp__counter' data-role='none'></div>
								<button class='pswp__button pswp__button--close' title='Close (Esc)' data-role='none'></button>
								<div class='pswp__preloader' data-role='none'>
										<div class='pswp__preloader__icn' data-role='none'>
											<div class='pswp__preloader__cut' data-role='none'>
												<div class='pswp__preloader__donut' data-role='none'></div>
											</div>
										</div>
								</div>
						</div>
						<div class='pswp__share-modal pswp__share-modal--hidden pswp__single-tap' data-role='none'>
								<div class='pswp__share-tooltip' data-role='none'></div>
						</div>
						<button class='pswp__button pswp__button--arrow--left' title='Previous (arrow left)' data-role='none'>
						</button>
						<button class='pswp__button pswp__button--arrow--right' title='Next (arrow right)' data-role='none'>
						</button>
						<div class='pswp__caption' data-role='none'>
								<div class='pswp__caption__center' data-role='none'></div>
						</div>
				</div>
		</div>
</div>