@font-face{font-family:gotham_medium;src:url(fonts/gotham-medium.eot);src:url(fonts/gotham-medium.eot?#iefix) format('embedded-opentype'),url(fonts/gotham-medium.woff) format('woff'),url(fonts/gotham-medium.ttf) format('truetype'),url(fonts/gotham-medium.svg#gotham_medium) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:gotham_book;src:url(fonts/gotham-book.eot);src:url(fonts/gotham-book.eot?#iefix) format('embedded-opentype'),url(fonts/gotham-book.woff) format('woff'),url(fonts/gotham-book.ttf) format('truetype'),url(fonts/gotham-book.svg#gotham_book) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:roboto_light;src:url(fonts/roboto-light.eot);src:url(fonts/roboto-light.eot?#iefix) format('embedded-opentype'),url(fonts/roboto-light.woff) format('woff'),url(fonts/roboto-light.ttf) format('truetype'),url(fonts/roboto-light.svg#roboto_light) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:roboto_medium;src:url(fonts/roboto-medium.eot);src:url(fonts/roboto-medium.eot?#iefix) format('embedded-opentype'),url(fonts/roboto-medium.woff) format('woff'),url(fonts/roboto-medium.ttf) format('truetype'),url(fonts/roboto-medium.svg#roboto_medium) format('svg');font-weight:400;font-style:normal}


body { font-size: 62.5%; }
h1 { font-size: 2.4em; } /* =24px */
/* =14px */
li { font-size: 1.4em; } /* =14px? */


body{margin:0; padding:0; background-color: #E7E7E7; }
*{text-shadow:none!important; box-sizing: border-box;}
.ui-page-theme-a{background-color: #F9F9F9;min-height: 640px!important;}
body, input, select, textarea, button, .ui-btn{ font-family: 'gotham_book';}
.home_header{ width: 100%; height: 200px;}
.home_header img{display: block; position: absolute; top:0; left:0; width: 100%; height: 200px; z-index: 1;}
.logo{width: 30%; height: 200px; background: url('images/logo.png') no-repeat center center; margin: 0 auto!important; background-size: contain; position: relative; z-index: 10;}
p b{font-family: 'gotham_medium';}


/*GENERAL*/
.ui-content{padding:0!important;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
.encapsed{display:inline-block;line-height:inherit;width:83%;vertical-align:bottom;;}
.no_box{width: 100%;display: block;clear: both;padding: 0;}
.no_box .close{position:absolute;right:0.5rem;top:0.5rem;font-size:1.3rem;}
.no_box.pad{padding: 0 8%;}
.hidden, .invisibo{display: none!important;}
.box{width: 93%; background-color: #FFF; display: block; margin: 0.8rem auto;}
.half_box{width:46%; display:inline-block; vertical-align:top; position: relative;}
.half_box a,
.half_box a:visited,
.half_box a:hover{text-decoration: none; color: inherit;}
.circle {
    border-radius: 22%;
    width: 30px;
    height: 30px; 
}
.realcircle {
    border-radius: 50%;
    width: 40px;
    height: 40px; 
}
.smallcircle {
    border-radius: 50%;
    width: 25px;
    height: 25px; 
}
.slight_radius{ -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.border_a{border-left: 5px solid #894C9E;}
.border_b{border-left: 5px solid #3897d3;}
.border_c{border-left: 5px solid #20AF5F;}
.border_d{border-left: 5px solid #838787;}
.border_f{border-left: 5px solid #D1BA36;}
.border_g{border-left: 5px solid #EDB802;}
/* Categories acc website */
.border_e{border-left: 5px solid #2B8AAD;}

.no_border{border:none!important;}
.margin_top{margin-top: 1rem!important;}

.plus_btn{display: block; width: 100%; height: 100%;}
.plus_btn .fa{color: #FFFFFF; text-decoration: none;}

.information{color: #C4C4C4;margin: 1rem;text-align: center;font-size: 0.8rem;letter-spacing: 0.5px;font-family: 'roboto_regular', Helvetica, Arial, sans-serif;}

/*REGISTER*/
.hidden{}
.button.gray{background: #838787;color: #FFF;display: block;padding: 0.5rem!important;margin: 0.2rem 0!important;}
.register{font-family: 'gotham-medium'; font-size: 1rem; width: 96%; margin: auto;}
.register p{text-transform: uppercase; text-align: center; font-family: 'gotham_book', Helvetica, Arial, sans-serif; font-size: 1rem; margin: 1rem auto 0 auto;}
.ui-btn.button,
.ui-btn.button:hover{text-shadow:none; font-weight:100; font-size:1rem; padding:0.3rem; margin:0;}
.ui-btn.button.upper,
.ui-btn.button.upper:hover{ text-transform: uppercase;}

.ui-btn.button.facebook,
.ui-btn.button.facebook:hover,
.ui-btn.button.twitter,
.ui-btn.button.twitter:hover{background: url('images/login_sprite.png') no-repeat; background-position: 50% -1px; width: 100%; height: 40px; display: block; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #3C5A99; cursor: pointer;}
.ui-btn.button.twitter,
.ui-btn.button.twitter:hover{background-position: 50% -42px;background-color: #44c8f5;margin-top: 0.5rem;}
.register input[type=text],
.register input[type=password]{width:100%;height:35px;}
.register input[type=submit].ui-btn.join{ color:#F2F2F2; text-shadow:none; background-color:#48c!important; opacity:1; width:100%; text-transform:none; font-size:1rem; padding:0.5rem; font-family:'gotham_book', Helvetica, Arial, sans-serif; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; border:none; letter-spacing:0.6px;}

.ui-corner-all{border-radius: 4px!important;}



/*Menu Side*/
.ui-panel-inner{padding: 0!important;}

.menu {background: #4A4B4F!important;}
.menu ul{list-style: none; margin:0!important; padding: 20px 0 0 0!important; text-align: left;; }
.menu li{background-color: #4A4B4F; height: 42px; line-height: 46px; background-repeat: no-repeat; text-shadow: none; color: #FFFFFF; text-transform: none; font-family: 'gotham_book', Helvetica, Arial, sans-serif; font-size: 0.9rem; font-weight: 100; text-indent: 0.5rem; letter-spacing: 1.2px; border-top: 1px solid #434345;}
.menu li.settings{background-color: #47474C;}
.menu li a.ui-link{color: #EBEBEF; text-decoration: none; font-weight: normal;}
.menu li a.ui-link i{float: right;display: block;line-height: 2.5rem;font-size: 1.1rem;margin: 0 0.5rem;}
.menu .disclaimer{font-size:0.6rem; text-align:left; border:none; height:auto; line-height:1.2rem; letter-spacing:1px; margin-top:0.5rem;}
.menu .disclaimer a{text-decoration: underline!important;}
.menu li.menu_profile{height:auto;padding:3rem 0 0 0;text-align:center;border:none;}
.menu li.menu_profile img{display:block;margin:auto;width:42%;height:auto;}
.menu li.menu_profile_name{height:auto;border:none;}
.menu li.menu_profile_name h1{font-size: 1.2rem; font-family: 'gotham_book', Helvetica, Arial, sans-serif; margin: 0 0 1rem 0; padding: 0; font-weight: normal;letter-spacing: 1px;text-align: center;}

#notifications_drop li:not(.divider){padding:0 10px 0 10px; margin-top:10px; border-bottom:1px solid #897575; height:auto; width:100%;}
#notifications_drop li p{float: left; font-family: 'gotham_book'; font-size: 12px; text-align: left; text-indent:0; line-height: 1.2rem; width: 240px; margin: 10px 0 10px 0; letter-spacing: 0.6px;}
#notifications_drop li.read{opacity: 0.4;}

#notifications_drop li p span{display: block; text-align: left; margin-top: 10px;}
#notifications_drop li p strong{font-family: 'gotham_medium';}

/*HEADER*/
.ui-page-theme-a .fixed_header{background-color:#353333;padding:0.5rem 0;padding-top:1.6rem;top:0;border:none;}
.ui-header .menu_trigger{width: 30px; height: 27px; display: block; font-size: 1.6rem; color: #FFF!important; text-align: center; line-height: 1.6rem; margin: 1.3rem auto 0.2rem auto;}
.ui-header .ui-title.page_title{text-align: center; color: #FFF; margin: 0 auto; text-shadow: none; font-family: 'gotham_book'; padding: 0; font-size: 1.2rem;}
.ui-header .ui-title.page_title form{width:15rem;display:block;margin:0 auto;height:1.8rem;}
.ui-header .ui-title.page_title input{background:#f9f9f9;font-size:0.75rem;line-height:1rem;text-indent:0.2rem;}
.ui-input-has-clear{ margin:0; font-size: 0.7rem; border: 1px solid #4b4a4b!important; padding-right: 0rem;}

.ui-header .ui-title.page_title input::-webkit-input-placeholder {
    color:    #4b4a4b;
    text-indent: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.1rem;
}
.ui-header .ui-title.page_title input:-moz-placeholder {
    color:    #4b4a4b;
    opacity:  1;
    text-indent: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.1rem;
}
.ui-header .ui-title.page_title input::-moz-placeholder {
    color:    #4b4a4b;
    opacity:  1;
    text-indent: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.1rem;
}
.ui-header .ui-title.page_title input:-ms-input-placeholder {
    color:    #4b4a4b;
    text-indent: 0.8rem;
    font-size: 0.85rem;
    line-height: 1.1rem;
}
.ui-btn.ui-input-clear:after{margin-left:-2px;margin-top:-7px;width:15px;height:15px;background-size:66%;}
.circle.notifications{background:#FF0000;border: 2px solid #FFF;text-align:center;line-height:26px;font-size:0.85rem;text-decoration:none;color:#FFF!important; margin: 1.25rem 0.4rem 0.2rem auto;}


/*FEED*/
.tab_container{width:100%; background:rgba(255, 255, 255, 0.67); display: block; margin: 0.15rem 0 0 0rem; padding: 0;}
.tab_container a{color:#564E4E!important;font-size:1.1rem;display:block;width:25%;float:left;text-align:center;padding:1rem 0;}
.tab_container a.selected{color:#000!important;background:#f9f9f9;border-top:4px solid #564E4E;}
.tab_container a:nth-of-type(3),
.tab_container a.selected:nth-of-type(3){color: #BEAE00!important;}
.feed_container{padding: 0;margin-top: -1px;background: #F9F9F9;}
.each_feed_element{position:relative;margin:1.5rem 0;padding:0;}
.each_feed_element h2{max-width:90%; font-size:.9rem; font-weight:800; letter-spacing:2px; position:absolute; bottom:0rem; color:#FFF; background-color:rgba(65, 64, 64, 0.55); padding:0.5rem; margin:0;}
.each_feed_element h2 a, .each_feed_element h2 a:visited, .each_feed_element h2 a:hover{color: #000; text-decoration: none;}
.each_feed_element h2 span{display: block;}
.each_feed_element h2 span,
.each_feed_element h2 span a,
.each_feed_element h2 span a:hover,
.each_feed_element h2 span a:visited{color:#838787;font-size:0.75rem;}
.box .close{position:absolute; right:0.4rem; top:0rem; font-size:1.3rem; color:#6f6f6f!important; cursor:pointer;}
.each_feed_element .article_details{list-style:none; margin:0 0.5rem; padding: 0;}
.each_feed_element .article_details li{display: inline-block;vertical-align: middle;}
.each_feed_element .article_details li a, .each_feed_element .article_details li a:visited, .each_feed_element .article_details li a:hover{color: #000;}
.each_feed_element img{display: block;width: 100%;height: auto;margin: 0.8rem 0 0 0;}
.article_details .score{background:#414141; color:#FFF; padding:0.3rem 0.5rem; font-size:1.3rem; font-family:Helvetica; font-weight:100; margin-right:0.5rem;}
.article_details .location{font-size:1.6rem;border-left:1px solid #E7E7E7;padding:0.5rem 0.8rem;opacity:0.7;}
.article_details .timestamp{font-size:0.6rem;border-left:1px solid #E7E7E7;padding:0.5rem 0 0.5rem 0.5rem;}
.article_details .timestamp>i{display:inline-block;clear:none;vertical-align:middle;font-size:1.6rem;opacity:0.7;padding:0 0.25rem;}
.article_details .timestamp p{margin:0;font-size:0.8rem;letter-spacing:1px;display:inline-block;vertical-align:middle;}
.each_feed_element.expanded .profile_pic{width:40px; height:40px; float:left; margin:0.5rem;}
.each_feed_element.expanded .info_venue {float:left; width:100%; margin:0.5rem 0;}
.each_feed_element.expanded .info_venue h2{font-size:1rem; font-family:'gotham_medium'; margin:0; text-indent:0; padding:0;}
.each_feed_element.expanded .info_venue h3{color:#564E4E; font-family:'gotham_medium'; margin:0; font-size:0.8rem; padding-top:0.3rem; letter-spacing:1px;}
.each_feed_element.expanded .info_venue h3 a{ text-decoration: none;}
.each_feed_element.expanded img:not('.profile_pic'){}
.each_feed_element.expanded .info{padding:0 0.5rem;line-height:1.2rem;font-size:0.8rem;color:#474040!important;font-family:'roboto_light', Helvetica, Arial, sans-serif;letter-spacing:0.4px;}
.each_feed_element.expanded .footer_menu{display:block;float:none;width:100%;height:auto;}
.each_feed_element.expanded .info a{color:inherit; text-decoration: none;}
.each_feed_element.expanded .event_description{text-align: left;font-family: 'roboto_light', Helvetica, Arial, sans-serif;font-size: 0.8rem;letter-spacing: 0.5px;}
.event_thumb_wrapper{display:block;width:100%;float:none;position:relative;clear:both;height:auto;}
.event_thumb_wrapper img{width:100%;height:auto;display:block;}
.event_thumb_wrapper h2{}
.address_link{margin:0.4rem 0;display:block;font-size:0.75rem;}
.address_link .fa{font-size: 1rem;}
.event_type{float:right;color:#564E4E;}
.special_icon.unschedule_this .superscript{left:0;bottom:0;}

/*TIMELINE*/
.feed_container.timeline{padding-top:1rem!important;}
.feed_container.discover h1,
.feed_container.discover_categories h1,
.feed_container.timeline h1,
.feed_container.event_feed h1,
.feed_container.my_events h1{margin:0 0 2rem 0.5rem; text-align: left; font-size: 1rem; color: #414040;}
.no_box.border_a{}
.no_box.border_a .info{display:block;clear:both;}
.each_feed_element .ui-link.user_clickable,
.each_feed_element .user_clickable{color:#38c!important;margin-top:0.5rem;display:block;float:left;clear:right;font-size:0.8rem;font-family:'gotham_medium', Helvetica, Arial, sans-serif!important;letter-spacing:0.5px;}
.each_feed_element .activity_user{color:#737979;display:block;}
.each_feed_element .copy_activity{display:block;float:left; font-family:'roboto_light', Helvetica, Arial, sans-serif; max-width:77%; letter-spacing:0.3px; width:76%; margin-bottom:0.5rem;}
.each_feed_element .copy_activity p{margin:0.2rem 0 0 0; font-size: 0.75rem; ;word-break: break-all; ;;word-break: normal;}
.each_feed_element .activity_user a{color: inherit; text-decoration: none; font-weight: normal; font-family: 'roboto_medium', Helvetica, Arial, sans-serif;}
.each_feed_element .activity_user .event_thumbnail{display:block;}
.resena_content{display:block;float:none;clear:both;margin:0 0 0 1rem;padding-top:1.5rem;font-size:0.8rem;font-style:italic;letter-spacing:0.5px;font-family:'roboto_light', Helvetica, Arial, sans-serif;}

.footer_menu{height:auto;float:none;clear:both;}
.footer_menu ul{list-style: none;margin: 0;padding: 0;width: auto;display: block;clear: both;float: right;}
.footer_menu ul li{width: 25%;float: left;padding: 0.2rem 0;text-align: center;color: #38c;font-size: 1.1rem;}
.footer_menu ul li a, .footer_menu ul li a:visited, .footer_menu ul li a:hover{color:#38c;}
.footer_menu.single ul li{width: 40px;margin: 0.5rem 0;}
.footer_menu.single ul li.active{color:#C9C9C9;}
.footer_menu.single ul li:nth-of-type(3){border:none;}
.footer_menu ul li:nth-of-type(4){border-right: none;}
.footer_menu ul li span{display: block;font-size: 0.7rem;}
.footer_menu ul li a{color: inherit; text-decoration: none;}

a.load_more{font-size: 0.85rem; text-align: center; display: block; margin: 1.5rem auto 1.5rem auto; color: #838787;}
a.load_more i{display:block; font-size:1.5rem;}

/*** FEED BOXES ***/
.back_button{display: block; clear: both; color: #FFF!important; width: 100%; margin: 0; letter-spacing: 1px; padding: 0rem 1rem; background: rgba(37, 31, 31, 0.8); line-height: 2.2rem; font-size: 2.2rem; border-width: 0; position: fixed; z-index: 99;}
.back_button span{font-size:0.85rem;font-family:'roboto_light', Helvetica, Arial, sans-serif;display:inline-block;vertical-align:bottom;margin-left:0.5rem;letter-spacing:1px;font-weight:normal;width:92%;text-align:right;line-height:1.6rem;}
/*.back_button::before{content: ""; width: 28px; height: 17px; background: url('images/back_arrow.png') no-repeat; display: inline-block; background-size: 22px; vertical-align: bottom;}*/
.each_feed_element .avatar{width: 50px; height: 50px; display: block; float: left; margin: 0.5rem;}
.each_feed_element.agendo h2{margin:0.5rem 0 0 0;text-indent:0;line-height:1.2rem;padding-left:4.2rem;}
.each_feed_element.resena{padding-bottom:0.5rem;}
/*.each_feed_element.resena p{font-size: 0.8rem; font-family: 'gotham_book', Helvetica, Arial, sans-serif; margin: 0 0 0 4.1rem; float: none; clear: both; font-style: italic;}*/

/*SELECCION DE TEMAS*/
.box h1{font-size: 1.2rem; margin:0; padding:1rem; text-align: center; font-family: 'gotham_book'; text-transform: uppercase;}

.half_box:nth-of-type(2n){margin: 0 0.4rem 1rem 0.55rem;}
.half_box img{width:100%; height:auto; display:block;}
.half_box h2{margin:0; width:100%; padding:0.5rem; font-family:'gotham_book'; text-align:left; font-size:0.75rem; position:relative; letter-spacing:0.25px;}
.half_box.select_me.selected::after{
    content: " ";
    display: block;
    width: 100%;
    height: 71.3%;
    background-color: rgba(36, 185, 78, 0.55);
    background-image: url('images/check.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
}
.image_wrapper{width: 100%; height: 120px; overflow: hidden;}
.image_wrapper img{width: 100%; height: auto; display: block;}
.image_wrapper.category{overflow:hidden;max-height:150px; display: block; position: relative;}
.image_wrapper_floating{display: block; position: absolute; font-size: 1.4rem; padding: 0.2rem; color: #FFF; opacity: 0.75; left: 0; bottom: 0;}
.image_wrapper.category img{height: 150px; width: auto; display: block; margin: auto;}

/*EDITA TU PERFIL*/
.edit_profile_container{padding-top: 2.5rem;}
.edit_profile_container h1{margin: 1rem 0 2rem 0.5rem; text-align: left; font-size: 1rem; color: #414040;}
.profile_form{width: 92%; margin: auto;}
.mod_user_profile {position: relative;display: block;width: 150px;height: 150px;margin: 1rem auto;}
.mod_user_profile i{position: absolute; bottom:0; color:#FFF; opacity:0.75; font-size:1.4rem; padding:0 0.2rem; right:0;}
.profile_pic{display:block;margin:0 auto 1rem auto;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.profile_form input,
.profile_form textarea{width: 100%; font-size: 1rem; padding: 0.3rem; margin-bottom: 0.5rem; clear: left;}
.profile_form textarea{resize: none; height: 120px; border-color: #bbb;}
.profile_form input[type=radio]{width:1rem;margin:0.5rem;float:left; clear: none;}
.profile_form input[type=date]{color:#ACAAAA;}
.profile_form input[type=submit]:hover,
.profile_form input[type=submit]:visited,
.profile_form input[type=submit]{width:54%; margin:0.5rem auto 1rem auto; color: #FFF; background: #48c; text-transform: none; padding: 0.6rem;}
.profile_form input[type=radio] + span{float:left;margin:0.5rem 0.2rem;font-size:1rem; clear: right;}
.profile_form input[type=checkbox]{float:none;margin:0.5rem 0.2rem;font-size:1rem;width:auto;}
.profile_form label[for=private_profile]{float:none;clear:both;margin:2rem 0 0 0;}
.profile_form .anotation{float:none;clear:both;color:#868686;font-style:italic;font-size:0.7rem;margin:0 0 1rem 0.3rem;}

/*VIEW PROFILE*/
.activity_list{list-style:none;margin:0rem auto 0.5rem -1.5rem;padding:0;width:120%;background:#FFFFFF;}
.activity_list.single{margin:0 0 0 -0.5rem;background-color:transparent;;}
.activity_list.single li{background-color:#FFF;}
.activity_list.just_two{width: 60.5%;}
.activity_list.just_two li{width: 90px;vertical-align: inherit;}
.activity_list li{float:left;width:25%;text-align:center;border-right:2px solid #EFEFEF;padding:0.7rem 0 0.3rem 0;min-height:3.5rem;}
.activity_list li:last-of-type{border:none;}
.activity_list a{color: #474040!important; text-decoration: none; font-size: 1.2rem; line-height: 1.4rem;}
.activity_list li span{font-size:0.7rem;display:block;color:#564E4E;}
.floating_awesome_button{display:block;float:right;clear:both;margin:0.5rem;background:#5BA04C;padding:0.6rem 0;text-align:center;text-indent:0.25rem;}
.floating_awesome_button.blue{background:#38c;position:absolute;right:0;bottom:0rem;}
.floating_awesome_button .fa{font-size:1.1rem;color:#FFF;text-indent:0px;}
.floating_awesome_button .fa.superscript{}
.user_profile{width:100%;padding:0.7% 7% 0 7%;margin-top:0;}
.user_profile img{margin:2rem 0 2rem 0; display:block; float:left; height:auto; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; max-width: 80px; width: 25%;}
.user_profile .user_info{float:left;width:74%;padding:2rem 0 2rem 1rem;clear:right;}
.user_profile .user_info h1{text-transform:none;margin:0;padding:0;text-align:left;max-width:230px;font-size:1.1rem;font-family:'gotham_book', Helvetica, Arial, sans-serif;color:#38c;}
.user_profile .user_info p{margin:0;color:#737979;font-size:0.8rem;}
.user_profile .user_info .city{display:block;clear:both;margin:0;text-align:left;font-size:0.74rem;line-height:1rem;color:#474040;letter-spacing:0.5px;}
.user_profile h3{font-family:'gotham_medium';font-size:1.1rem;margin:0 0 0 0.5rem;}
.user_profile h4{margin: 1rem 0 0.5rem 0rem; text-align: left; font-size: 1rem; color: #414040;}
.user_profile h3 span{font-family:'gotham_book';font-size:0.8rem;color:#838787;}
.edit_profile,
.edit_profile:visited{color:#FFF!important;font-size:0.8rem;text-decoration:none;margin:0;padding:0.3rem 0;text-indent:0.15rem;}
.edit_profile i{font-size:1rem;}
.box.user_profile>p{display:block;clear:both;padding:0 0.5rem 0.5rem 0.5rem;}
.button.follow_user:hover,
.button.follow_user:visited,
.button.follow_user,
.button.follow_venue:hover,
.button.follow_venue:visited,
.button.follow_venue{width: 100%; margin: 0; color: #FFF; background: #838787; text-transform: uppercase; padding: 0.6rem;}
.button.unfollow_user:hover,
.button.unfollow_user:visited,
.button.unfollow_user{width: 100%; margin: 0; color: #FFF; background: #E74C3C; text-transform: uppercase; padding: 0.6rem;}

.artist_project_mini h3{margin:0;text-align:left;font-size:1rem;color:#414040;font-weight:normal;font-family:'gotham_book';}
.artist_project_mini .project_list{list-style: none;margin:0; padding: 0; width: 100%;}
.artist_project_mini .project_list li{display:inline-block;vertical-align:top;width:23%;margin:0.25rem;}
.artist_project_mini .project_list li .gallery_thumb{display:block;width:100%;}
.artist_project_mini .project_list li .gallery_thumb img{width:100%;height:auto;margin:0;}

.city_venue,
.phone,
.hours{font-size: 0.75rem;color: #474040;letter-spacing: 0.2px;}
.city_venue .fa,
.phone .fa,
.hours .fa{font-size: 1rem;}

.table{-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; border: 1px solid #C1C3C3; list-style: none; padding: 0; margin: 0.5rem;;}
.table li{display: inline-block; border-right: 1px solid #C1C3C3; font-family: 'gotham_medium'; font-size: 1.2rem; text-align: left; text-indent: 0.8rem; padding: 0.4rem 0;}
.table li span{display: block; clear: both;font-family: 'gotham_book'; font-size: 0.7rem; color: #838787;}
.table li.last{border-right: none;}
.table.two li{width: 49%;}
.table.three li{width: 32%;}
.table.two li a,
.table.three li a{text-decoration: none; color: inherit;}
.table.four li{width: 24%;}

.ui-tabs.tabbed_content{padding:0;width:100%;margin-top:2rem;background:#FFF;}
.ui-tabs.tabbed_content .ui-navbar{max-width: 100%;margin: auto;}
.ui-tabs.tabbed_content .ui-navbar li a{font-size: 0.8rem;padding: 0.7rem 0;color: #474040;border: none;letter-spacing: 1px;background-color: #F2EFEF;}
.ui-tabs.tabbed_content .ui-navbar li a:focus{outline: none;box-shadow: none;}
.ui-page-theme-a .ui-btn.ui-btn-active{color:#474040;border:none;letter-spacing:1px;background-color:#FFF!important;}
.no_events{text-align: center; font-size: 0.4rem; color: #767575; letter-spacing: 0.5px; min-height: 120px;}
.chech_attended{ color: #559021; display: block; text-align: right; }

/*User attachments archive*/
.feed_container.user_pics{}
.user_pics .gallery_thumb{display:inline-block;width:21.4%;margin:0.25rem 0.25rem;vertical-align:top;}
.user_pics .gallery_thumb img{display:block;width:100%; height: auto;}
.user_pics .gallery_thumb:first-of-type,
.user_pics .gallery_thumb:nth-of-type(5n){margin: 0.25rem 0.25rem 0.25rem 0.5rem;}
.user_pics .gallery_thumb:nth-of-type(4n){margin: 0.25rem 0.5rem 0.25rem 0.25rem;}
.startgallery{display:block;clear:both;margin:3rem 0 0 0;height:1px;width:100%;}

/*FOLLOW THIS VENUES*/
.box.venue{position:relative;}
.box.venue img{display:block; float:left; margin:1rem;}
.box.venue .info_venue{float:left; width:74%;}
.box.venue .info_venue h2{font-family:'gotham_medium'; margin:1rem 0 0 0;}
.box.venue .info_venue p{margin:0.4rem 0; font-size:0.85rem;}
.box.venue .follow{display:block; clear:both; margin:0; background: #838787; color: #FFF; font-size: 1rem; text-transform: uppercase; border: none;}

.ui-panel {
    width: 19rem;
}

.ui-panel.ui-panel-position-right {
    width: 19rem;
}

.ui-panel.ui-panel-closed {
    width: 0;
}

.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    -webkit-transform: translate3d(-19rem, 0, 0);
    -moz-transform: translate3d(-19rem, 0, 0);
    transform: translate3d(-19rem, 0, 0)
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    -webkit-transform: translate3d(19rem, 0, 0);
    -moz-transform: translate3d(19rem, 0, 0);
    transform: translate3d(19rem, 0, 0)
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(19rem, 0, 0);
    -moz-transform: translate3d(19rem, 0, 0);
    transform: translate3d(19rem, 0, 0)
}

.ui-panel-animate.ui-panel-page-content-position-left{
    -webkit-transform: translate3d(19rem, 0, 0);
    -moz-transform: translate3d(19rem, 0, 0);
    transform: translate3d(19rem, 0, 0);
}

.ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(-19rem, 0, 0);
    -moz-transform: translate3d(-19rem, 0, 0);
    transform: translate3d(-19rem, 0, 0)
}

.ui-panel-animate.ui-panel-page-content-position-right{
    left: 0;
    right: 0;
    -webkit-transform: translate3d(-19rem,0,0);
    -moz-transform: translate3d(-19rem,0,0);
    transform: translate3d(-19rem,0,0);
}

/*SINGLE EVENTO*/
.event_single_container
.event_thumbnail{width: 100%; height: auto;}
.event_thumbnail img{display: block; width: 100%; height: auto; margin: 0;}
.gallery{ width: 100%; margin: 0; display: block; clear: both;}
.gallery ul{ list-style: none; margin: 0; padding: 0; width: 100%;}
.gallery ul li{ width: 17.5%; float: left; margin: 0 0.25rem;}
.gallery ul li:last-of-type{margin: 0 0 0 0.25rem;}
.gallery ul li:first-of-type{margin: 0 0 0 0.5rem;}
.gallery ul li img{ width: 100%; height: auto; display: block;}
.attend_event,
.attended_event{ right: 0; display: block; text-align: right; margin: 0 1rem; font-family: 'gotham_book', Arial, Helvetica, sans-serif; font-size: 0.8rem; color: #838787!important;}
.attended_event{ color: #559021!important;}
.attend_event i{font-size:1rem;display:inline-block;vertical-align:middle; }

.event_single_container .each_feed_element .info_venue{}
.event_single_container .each_feed_element .info_venue .profile_pic{margin-left: 0;}
.event_single_container .each_feed_element .info .artist_clickable,
.event_single_container .each_feed_element .info .category_clickable{color:#48c;display:inline;float:none;;}
.event_single_container .each_feed_element .info .artist_clickable::after,
.event_single_container .each_feed_element .info .category_clickable::after{content:",";}
.event_single_container .each_feed_element .info .artist_clickable:last-of-type::after,
.event_single_container .each_feed_element .info .category_clickable:last-of-type::after{content:".";}
.event_single_container .each_feed_element .info_venue .location_link{font-size:0.7rem;display:block;max-width:80%;float:left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.event_single_container .each_feed_element .info_venue h3{float:left;max-width:80%;}
.event_single_container .each_feed_element .info_venue>p{margin:0;}
.event_single_container .each_feed_element .info>p{margin:0.2rem 0;}

.comment_form{}
.comment_form label{text-indent:0.7rem;font-family:'roboto_light', Helvetica, Arial, sans-serif;color:#C4C4C4;letter-spacing:1px;font-size:0.7rem;}
.comment_form textarea{resize: none; height: 60px!important; width: 95%; display: block; margin: 0.5rem auto; font-size: 0.8rem;}

/*.gallery img{width:350px; height: 150px; display: block;}*/
.gallery .cycle-pager{ font-size: 1.5rem; text-align: center; color:#F3F3F3; display:block; margin-top:1rem; line-height:0.5rem; line-height:1rem;;}
.gallery .cycle-pager .cycle-pager-active{ color: #838787;}

.each_feed_element.expanded.single{margin-top:2.3rem;}
.each_feed_element.expanded.single h2{ font-family: 'gotham_book'; margin-bottom: 0.5rem;}
.each_feed_element.expanded.single h2 b{ font-family: 'gotham_medium';}

.event_file_upload,
.event_upload_trigger,
.event_camera_upload{font-size: 1.6rem; margin: 0; display: block; text-align: center; background: #FCFCFC; padding: 0.4rem 0;}
.event_file_upload i,
.event_upload_trigger i,
.event_camera_upload i{display: block;}
.event_file_upload::after,
.event_upload_trigger::after,
.event_camera_upload::after{ font-size: 0.8rem;}
.event_upload_trigger::after{content: " Publicar una foto";}
.event_file_upload::after{content: " Galería";}
.event_camera_upload::after{content: " Cámara";}
.event_file_upload,
.event_camera_upload{width:50%; float: left;}
/*RECOMEND POPUP*/
.ui-popup-screen{background: #FFFFFF;}
.ui-popup.ui-content{ background: #FFF; width: 230px; padding: 0.5rem!important; font-family: 'gotham_medium', Arial, Helvetica, sans-serif; font-size: 0.8rem;}

/*COMMENTS*/
.comments{margin-bottom:1rem;}
.comments h2{margin:0.5rem;font-size:1rem;font-family:'gotham_medium', Helvetica, Arial, sans-serif;color:#474040;display:block;letter-spacing:1px;}
.each_comment{position:relative;min-height:100px;border-bottom:2px solid #868686;margin:0 0.5rem 1rem 0.5rem;}
.comment_user_thumb{float:left;width:60px;height:auto;margin-right:0.5rem;}
.each_comment h3{font-size:0.9rem;font-family:'gotham_medium';float:left;margin:0;}
.each_comment p{float: left;width: 77%;margin: 0.2rem 0 0 0;font-size: 0.8rem;}
.each_comment .votes{font-size: 1.1rem;margin: 0;position: absolute;left: 0.5rem;top: 65px;}
.each_comment .votes a{color: #838786; text-decoration: none;}
.each_comment .upvote{margin-left: 0.5rem;}
.each_comment .divider{width:90%; border-color:#878388; height:1px; clear:both;}
.comment_btn{display: block; clear: both; margin: 0 1rem 0 0; padding:0 0.2rem; float:right; font-size:1rem;}

/* FEED EVENTOS */
.filter_container{margin:0.8rem 0;padding:0 0.5rem;}
.filter_container.ui-field-contain .ui-select{}
.filter_container.ui-field-contain .ui-select select:focus{outline: none;}
.filter_container .select_label{float:left;}
.filter_container i{margin:0.5rem;color:#838786;}

.invisibo_submito{display: none;}

/* SEARCH RESULTS */
#search_results_container .back_button{position:fixed;top:3.8rem;}
.results_container .feed_container{padding: 2.5rem 0 0 0;}
.results_container h1{margin:0;font-size:0.85rem;color:#F9F9F9;letter-spacing:1px;text-align:center;font-weight:normal;}
.results_container .encapsed{width:89%;}
.back_button .insert_query{font-style:italic;font-family:'gotham_book', Helvetica, Arial, sans-serif;font-weight:normal;width:auto;}
.each_user_result{ background: none; margin: 1rem 0; width: auto; padding: 0.8rem 1rem 0 1rem;}
.each_user_result figure{float:left;width:50px;height:auto;margin:0;}
.each_user_result figure img{display:block;width:100%;height:auto;}
.each_user_result .article_details{float:left;margin:0 0 0 1rem;position:relative;width:75%;}
.each_user_result .user_follows{position:relative;font-size:0.85rem;color:#636363; bottom: -1rem; margin: 0 0 0.6rem auto; text-align: left; display: block; clear: both; float: none; width: 100%;}
.each_user_result .user_follows a{color: inherit; text-decoration: none; font-size: 0.75rem;}
.each_user_result .article_details .user_followers{font-size:0.7rem;}
.each_user_result .article_details .user_followers span{font-family:'gotham_medium', Helvetica, Arial, sans-serif;}
.each_user_result .article_details h2{margin:0;font-size:0.9rem;}
.each_user_result .article_details h2 a{text-decoration: none;}
.each_user_result .article_details h3{margin:0;color:#636363;font-size:0.7rem;}

.special_icon{margin-left: 0.5rem;}
.special_icon .superscript{font-size:0.5rem;bottom:0.1rem;position:relative;left:-0.3rem; margin:0;}

/*PRIVATE PROFILES*/
.private_profile{color: #737979; padding: 2rem 2rem 0 2rem; text-align: center;}
.private_profile i{font-size: 2rem;}
.private_profile h2{margin: 0; font-size: 0.8rem; letter-spacing: 0.6px;}

/* jQuery mobile Overrides */
.ui-selectmenu .ui-selectmenu-list{background-color:#FFF;}
.ui-listview>li {}
.ui-listview>li a{color:#838787;text-align:center!important;padding:0.5rem 3rem;}
.ui-listview>li.ui-first-child, .ui-listview>li.ui-first-child>a.ui-btn{}
.ui-selectmenu.ui-popup{}

/* Autocomplete usernames */
.recommend_to{}
.hidden_list{position: absolute;background: #FFF;padding: 0.25rem;top: 3rem;width: 93%;border: 1px solid #C4C4C4;color: #C4C4C4;font-family: 'gotham_book', Arial, Helvetica, sans-serif;font-size: 0.6rem;z-index: 100;list-style: none;display: none;}
.hidden_list li{padding:0.25rem 0;border-bottom:1px solid #EDE8E8;}
.hidden_list li:last-of-type{border-bottom: none;}


/* Categories */
.category_detail{margin-top:2.3rem;}
.cat_image_wrapper{width:100%;height:220px; overflow: hidden; margin: 0; padding: 0; position: relative;}
.cat_image_wrapper .ornament{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 11%, rgba(255,255,255,0.05) 14%, rgba(255,255,255,0.58) 48%, rgba(255,255,255,0.92) 70%, rgba(255,255,255,1) 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,rgba(255,255,255,0)), color-stop(14%,rgba(255,255,255,0.05)), color-stop(48%,rgba(255,255,255,0.58)), color-stop(70%,rgba(255,255,255,0.92)), color-stop(75%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 11%,rgba(255,255,255,0.05) 14%,rgba(255,255,255,0.58) 48%,rgba(255,255,255,0.92) 70%,rgba(255,255,255,1) 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 11%,rgba(255,255,255,0.05) 14%,rgba(255,255,255,0.58) 48%,rgba(255,255,255,0.92) 70%,rgba(255,255,255,1) 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 11%,rgba(255,255,255,0.05) 14%,rgba(255,255,255,0.58) 48%,rgba(255,255,255,0.92) 70%,rgba(255,255,255,1) 75%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 11%,rgba(255,255,255,0.05) 14%,rgba(255,255,255,0.58) 48%,rgba(255,255,255,0.92) 70%,rgba(255,255,255,1) 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; /* IE6-9 */
}
.cat_image_wrapper>img{width:100%;height:auto;}
.category_detail>h2{text-align:center;clear:both;font-size:1rem;margin:0;padding:0;opacity:0.45;}
.category_detail>p:first-of-type{font-size:0.8rem;line-height:1rem;font-family:'roboto_light', Helvetica, Arial, sans-serif;padding:0 0.8rem;margin:0 0 1rem 0;text-align:left;letter-spacing:0.5px;}
.category_detail h1{float:left;margin:-2rem 1rem 0 1rem;font-size:1.1rem;color:#474040;width:100%;text-align:left;padding:0;text-transform:none;letter-spacing:1px;position:relative;}
.explore{}
.explore_section{clear:both;margin-top:0.4rem;}
.explore_section>h2{padding:0.2rem 0.5rem 0 0.6rem;color:#333333;font-size:1rem;letter-spacing:1px;margin:0;opacity:0.55;}
.explore_events{}

.follow_category i,
.unfollow_category i{ font-size: 1.6rem; color: #38c;}

.follow_category.inline{display: block; margin: auto; width: 1.8rem; text-align: center; color: #887C7C!important; padding: 0.35rem 0.25rem; position: absolute; top: 0; right: 0;}
.unfollow_category.inline{display: block; margin: auto; width: 2rem; text-align: center; color: #289E1A!important; padding: 0.35rem 0.25rem; position: absolute; top: 0; right: 0;}
.follow_category.inline i,
.unfollow_category.inline i{ font-size: 1.4rem;}

.thumb_column{width:135px;float:left;}
.thumb_column img{width:110px;height:auto;display:block;margin:0.8rem 0.8rem 0 0.8rem;float:left;}
.category_follow{display:block;clear:both;float:none;background:#5DBB52;color:#FFF!important;text-align:center;margin:0 0.3rem;padding:0.2rem;font-family:'gotham_book';font-size:0.8rem!important;font-weight:normal!important;}

.parent_thumb{position:absolute;right:0;height:220px;min-width:50%;overflow:hidden;z-index:5;float:right;background-color:#FFF;}
.parent_thumb img{display:block;width:100%;height:auto;}
.parent_thumb .ornament{
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 11%, rgba(255,255,255,0.95) 14%, rgba(255,255,255,0.42) 48%, rgba(255,255,255,0.08) 70%, rgba(255,255,255,0) 75%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(11%,rgba(255,255,255,1)), color-stop(14%,rgba(255,255,255,0.95)), color-stop(48%,rgba(255,255,255,0.42)), color-stop(70%,rgba(255,255,255,0.08)), color-stop(75%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 11%,rgba(255,255,255,0.95) 14%,rgba(255,255,255,0.42) 48%,rgba(255,255,255,0.08) 70%,rgba(255,255,255,0) 75%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,1) 11%,rgba(255,255,255,0.95) 14%,rgba(255,255,255,0.42) 48%,rgba(255,255,255,0.08) 70%,rgba(255,255,255,0) 75%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 11%,rgba(255,255,255,0.95) 14%,rgba(255,255,255,0.42) 48%,rgba(255,255,255,0.08) 70%,rgba(255,255,255,0) 75%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,1) 11%,rgba(255,255,255,0.95) 14%,rgba(255,255,255,0.42) 48%,rgba(255,255,255,0.08) 70%,rgba(255,255,255,0) 75%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 100%; /* IE6-9 */
}

.no_box.subcategory{position:relative;min-height:140px;margin:2.3rem 0 1rem 0;height:220px;}
.no_box.subcategory h1{width: 78%; clear: none; float: left; text-align: left; padding: 1rem 0 1rem 0.6rem; text-transform: none; letter-spacing: 1px; position: relative; z-index: 10;}
.no_box.subcategory h1 i{color: #2B8AAD;}
.no_box.subcategory .follow_category,
.no_box.category_detail .follow_category,
.no_box.subcategory .unfollow_category,
.no_box.category_detail .unfollow_category{position: absolute; padding-top: 0.45rem; bottom: 0; left: 0;  width: 5.5rem; text-align: center; font-size: 0.7rem; color: #289E1A!important; margin: 0.4rem 0.5rem;}
.no_box.subcategory .follow_category,
.no_box.category_detail .follow_category{color:#8E8B8B!important;z-index:10;}
.no_box.category_detail .unfollow_category,
.no_box.category_detail .follow_category{position:relative;margin:1rem;width:90%;left:initial;text-align:right;display:block;}

/* Explore */
.each_explore_venue,
.each_explore_artist{width:4rem;margin:0.5rem;display:inline-block;}
.each_explore_venue img,
.each_explore_artist img{display:block;width:100%;height:100%;}

.each_explore_event{}
.each_explore_event img{}
.each_explore_event h3{}
.each_explore_event h4{}
a.category_follow.select_me.ui-link{font-size:1.4em;}

/* Landing category */
.each_cat_event{margin:1rem 0;}
.each_cat_event .info p{margin:1rem 0;}
.each_cat_event img{width:100%;height:auto;}
.each_cat_event h2{color: #000; text-decoration: none; opacity: 1; padding-left: 0.8rem; font-size: 0.8rem;}
.each_cat_event h3{font-family:'gotham_medium';color:#838787;font-size:0.7rem;padding:0 0.8rem;margin:1rem 0 0 0;letter-spacing:1px;}
.each_cat_event h2 a{ color: #000!important;}
.each_cat_event h2 a,
.each_cat_event h3 a{text-decoration: none; font-family: 'gotham_medium';}
.each_cat_event h3 a{color:#C4C4C4!important;}

.feed_container.discover_categories{padding-left: 0.8rem!important; }
.feed_container.discover_categories h1{margin: 1rem 0;font-size: 1rem;letter-spacing: 1px;}
.feed_container.my_events{}
.feed_container.my_events h1{ margin-top: 1rem;}
.no_box.subcategory{}

/*Follow Categories*/
.discover_categories .each_category{}
.each_category .image_wrapper{background-color:#FFF;}

/* Custom Loader */
.spinner {
  margin: 60% 43%;
  width: 50px;
  height: 50px;
  position: fixed;
  display: block;
  display: none;
  z-index: 999999;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #414040;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.custom_loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: fixed;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  display: block;
  display: none;
  z-index: 999999999;
  top: 35%;
  left: 34%;
}
.custom_loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.custom_loader:after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #E7E7E7;
}
.custom_loaderlogo{
    width: 60px; height: 200px; background: url('images/logo_white.png') no-repeat center center; margin: 0 auto!important; background-size: contain; position: fixed; z-index: 99999999999; top: 36.3%; left: 41%; display: block; display: none;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.user_profile .bio{display:block;float:none;clear:both;position:relative;}
.user_profile .bio p{display:block;clear:both;margin:0 0 1rem 0;text-align:left;font-size:0.74rem;line-height:1rem;color:#737979;}